trigger:
- release*

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'a02741b9-a124-4b43-8f63-80ec68c68bb4'
  imageRepository: 'nodejsdemoapp'
  containerRegistry: 'bttcontainerregistry1.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(appVersion)'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - bash: |
        version=$(jq -r .version $(Build.SourcesDirectory)/nodejs-demo/src/package.json)
        echo "##vso[task.setvariable variable=appVersion]$version"
      
      displayName: 'Extract Version from package.json'
      env:
        BUILD_SOURCESDIRECTORY: $(Build.SourcesDirectory)
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(appVersion)

- stage: UpdateVersionMD
  displayName: 'Update version.md in GitHub'
  jobs:
    - job: UpdateVersionMDJob
      displayName: 'Update version.md Job'
      pool:
        vmImage: 'ubuntu-latest'
      steps:
        - checkout: self
          persistCredentials: true
        - bash: |
            version=$(jq -r .version $(Build.SourcesDirectory)/nodejs-demo/src/package.json)

            sed -i "s/|[[:space:]]*nodejsdemoapp[[:space:]]*|[^|]*|[[:space:]]*$/|nodejsdemoapp|$version|/g" $(Build.SourcesDirectory)/version.md


          displayName: 'Update version.md'